name: CI

on:
  pull_request:
    branches: [master]

concurrency: ci-${{ github.ref }}

jobs:
  renovate-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: P5-wrapper/setup-action@v1.0.3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Run format if the PR is from the Renovate bot
        if: github.actor == 'renovate[bot]'
        run: pnpm format
        shell: bash

      - name: Commit any formatting changes
        if: github.actor == 'renovate[bot]'
        uses: stefanzweifel/git-auto-commit-action@v4.15.4
        with:
          commit_message: Apply formatting updates
          branch: ${{ github.head_ref }}
          token: ${{ secrets.GH_TOKEN }}

  format:
    runs-on: ubuntu-latest
    needs: renovate-bot
    steps:
      - uses: P5-wrapper/setup-action@v1.0.3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Check formatting
        run: pnpm format:check

      - name: Formatting issues detected (attempting fix...)
        if: ${{ failure() }}
        run: pnpm format

      - name: Commit fixed formatting issues
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply fixed formatting issues
          branch: ${{ github.head_ref }}

  lint:
    runs-on: ubuntu-latest
    needs: renovate-bot
    steps:
      - uses: P5-wrapper/setup-action@v1.0.3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Lint
        run: pnpm lint

      - name: Linting issues detected (attempting fix...)
        if: ${{ failure() }}
        run: pnpm lint:fix

      - name: Commit fixed linting issues
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply fixed linting issues
          branch: ${{ github.head_ref }}

  test:
    runs-on: ubuntu-latest
    needs: renovate-bot
    steps:
      - uses: P5-wrapper/setup-action@v1.0.3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Test
        run: pnpm test

  build:
    runs-on: ubuntu-latest
    needs: renovate-bot
    steps:
      - uses: P5-wrapper/setup-action@v1.0.3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Build
        run: pnpm build
