name: Dependabot Bot

on:
  pull_request:
    branches: [master]

concurrency: dependabot-${{ github.ref }}

jobs:
  dependabot-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: P5-wrapper/setup-action@v1.0.6

      - name: Run format if the PR is from the Dependabot Bot
        if: github.actor == 'dependabot[bot]'
        run: pnpm format
        shell: bash

      - name: Commit any formatting changes
        if: github.actor == 'dependabot[bot]'
        uses: stefanzweifel/git-auto-commit-action@v5.0.0
        with:
          commit_message: Apply formatting updates
          branch: ${{ github.head_ref }}
          token: ${{ secrets.GH_TOKEN }}
