name: Master Pull Request

on:
  pull_request:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}

      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Check formatting
        run: npm run format:check

      - name: Formatting issues detected (attempting fix...)
        if: ${{ failure() }}
        run: npm run format

      - name: Commit fixed formatting issues
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply fixed formatting issues
          branch: ${{ github.head_ref }}

      - name: Lint
        run: npm run lint

      - name: Linting issues detected (attempting fix...)
        if: ${{ failure() }}
        run: npm run lint:fix

      - name: Commit fixed linting issues
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply fixed linting issues
          branch: ${{ github.head_ref }}

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build
